<% include partials/header %>

<h1>Search Results</h1>
<div class="container">
    <div id="movies" class="row">
        
            <% data.Search.forEach(function(movie){ %>
                <div class="col-md-3">
                    <div class="well text-container">
                        <img src="<%= movie.Poster %>" /> 
                        <h5><%= movie.Title %> (<%= movie.Year %>)</h5>
                        <button class="btn btn-primary"><a href="/movies/<%= movie.imdbID %>">More Info</a></button>
                    </div>
                </div>
            <% }); %>
        
    </div>
</div>
<a href="/">Search Again</a>

<% include partials/footer %>
