body {
    color: #fff;  
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
                url("/images/movieswallpaper.jpg");
}

h1 {
    text-align: center;
}

form {
    margin: 175px 0;
    text-align: center;
}

input[type="text"] {
    width: 60%;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 45px;
    font-size: 34px;
}

input[type="submit"] {
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: none;
    font-family: "FontAwesome";
    outline: none;
}