h1 {
    text-align: center;
}
h5 {
    font-size: 14px;
}

.text-container {
    text-align: center;
}

#movies img, #movie img {
    width: 100%;
}

form {
    margin: 100px 0;
    text-align: center;
}

input[type="text"] {
    width: 60%;
    background: none;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
    height: 45px;
    font-size: 34px;
}

input[type="submit"] {
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #222;
    color: whitesmoke;
    outline: none;
}

@media(min-width:960px) {
   #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    } 
}
