html, body {
    margin: 0;
    padding: 0;
    background: #222;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}


form {
  margin: 150px 0;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #444;
    outline: none;
    background: none;
    color: whitesmoke;
    font-size: 34px;
}

input[type="submit"] {
    height: 45px;
    width: 45px;
    border: none;
    background: #444;
    padding: 10px;
    border-radius: 50%;
    color: whitesmoke;
}

a {
    color: whitesmoke;
    position: absolute;
    top: 10px;
    left: 10px;
}

ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: blue;
}

li {
    float: left;
    width: 15%;
    margin: 2.5%;
    padding: 10px;
    background: #2b2b2b;
    height: 300px;
    box-sizing: border-box;
    box-shadow: 0 1px 10px 5px rgba(0,0,0,0.05);
}

img {
    height: 150px;
    margin: 10px 0;
}